.label {
    -fx-background-color: #d6f0ff;
    -fx-border-color: #7ba6bf;
    -fx-border-width: 2px;
    -fx-background-radius: 1em 1em 0 1em;
    -fx-border-radius: 1em 1em 0 1em;
}

.reply-label {
    -fx-background-color: #2e6255;
    -fx-border-color: #1b453a;
    -fx-background-radius: 1em 1em 1em 0;
    -fx-border-radius: 1em 1em 1em 0;
    -fx-text-fill: #d6ffe2;
}

#displayPicture {
    /* Change size of image. */
    -fx-scale-x: 0.5;
    -fx-scale-y: 0.5;

    /* Rotate image clockwise by degrees. */
    -fx-rotate: 0;
}
